body {
  background-color: #fadcb3;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  max-width: 800px;
  border-radius: 10px;
}
.links {
  margin-top: 15px;
  font-size: 15px;
}
a {
  color: #2c2821;
  text-decoration: none;
}
a:hover {
  color: #e79b2f;
}
a:visited {
  color: #2c2821;
}
